---
import Booklist from "../components/booklist.astro";
import Layout from "../layouts/Layout.astro";
import Topthree from "../components/topthree.astro";
import Banner from "../components/Banner.astro";
import Nav from "../components/Nav.astro";
import Foot from "../components/foot.astro";
import Spnosor from "../components/Sponsor.astro";
import Rolltop from "../components/Rolltop.astro";
import { pgwWrap } from "../js/pgw.js";

const bgImageUrl =
  "https://pgw.udn.com.tw/gw/photo.php?u=https://event.udn.com/bd_500bowls_vote2025/image/500bowlbg.png&nt=1&v=20250620";
const articleStyle = `background-image: url('${bgImageUrl}');`;
---

<Layout>
  <section style="overflow: hidden;">
    <Nav />
    <Banner />
  </section>
  <section class="articles" style={articleStyle}>
    <Topthree />
    <Booklist />
  </section>
  <Spnosor />
  <Rolltop />
  <Foot />
</Layout>
<style lang="scss">
  .articles {
    width: 100%;
    margin: 0 auto;
  }
</style>
