---
import Booklist from "../components/booklist.astro";
import Layout from "../layouts/Layout.astro";
import Topthree from "../components/topthree.astro";
import Banner from "../components/Banner.astro";
import Nav from "../components/Nav.astro";
import Foot from "../components/foot.astro";
import Spnosor from "../components/Sponsor.astro";
import Rolltop from "../components/Rolltop.astro";
import { pgwWrap } from "../js/pgw.js";

// 預先處理圖片URL
const bgImageUrl = "/image/500bowlbg.png";

// 生成內聯樣式
const articleStyle = `background-image: url('${bgImageUrl}');`;
---

<Layout>
  <!-- <Nav />
  <Banner /> -->
  <section class="articles" style={articleStyle}>
    <Topthree />
    <Booklist />
  </section>
  <!-- <Spnosor />
  <Rolltop />
  <Foot /> -->

  <style lang="scss">
    .articles {
      width: 100%;
    }
  </style>
</Layout>
