---
import Booklist from "../components/booklist.astro";
import Layout from "../layouts/Layout.astro";
import Topthree from "../components/topthree.astro";
import Banner from "../components/Banner.astro";
import Nav from "../components/Nav.astro";
import Foot from "../components/foot.astro";
import Spnosor from "../components/Sponsor.astro";
import Rolltop from "../components/Rolltop.astro";
import { pgwWrap } from "../js/pgw.js";

// 預先處理圖片URL
const bgImageUrl = "/image/500bowlbg.png";

// 生成內聯樣式
const articleStyle = `background-image: url('${bgImageUrl}');`;
---

<Layout>
  <Nav />
  <Banner />
  <section class="articles" style={articleStyle}>
    <div class="topthree-container">
      <Topthree />
    </div>
    <Booklist />
  </section>
  <Spnosor />
  <Rolltop />
  <Foot />

  <style lang="scss">
    .topthree-container {
      // margin-top: -160px; /* 控制 Topthree 與 Banner 重疊的程度 */
      z-index: 10;
      margin-bottom: 30px; /* 與下方內容的間距 */
      position: relative;
      @media (max-width: 1024px) {
        margin-top: -100px; /* 控制 Topthree 與 Banner 重疊的程度 */
      }
      @media (max-width: 768px) {
        margin-top: -80px; /* 控制 Topthree 與 Banner 重疊的程度 */
      }
      @media (max-width: 450px) {
        margin-top: -160px; /* 控制 Topthree 與 Banner 重疊的程度 */
      }
    }

    .articles {
      width: 100%;
      padding-bottom: 2.5%;

      @media (max-width: 450px) {
        margin-top: 29%;
      }
    }
  </style>
</Layout>
