---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Nav from "../components/Nav.astro";
import Foot from "../components/foot.astro";
import Rolltop from "../components/Rolltop.astro";
import Spnosor from "../components/Sponsor.astro";
import Act from "../components/Act.astro";
import { pgwWrap } from "../js/pgw.js";
---

<Layout>
  <section style="overflow: hidden;">
    <Nav />
    <Banner />
  </section>
  <Act />
  <Rolltop />
  <Spnosor />
  <Foot />
</Layout>
<style lang="scss">
  @import "../styles/sweetalert2.scss";
</style>

<script>
  import "../js/memberAuth.js";
  import SwalHelper from "../js/sweetalert2Helper.js";

  declare global {
    interface Window {
      SwalHelper: typeof SwalHelper;
    }
  }

  window.SwalHelper = SwalHelper;
</script>
